---
layout: layouts/base.liquid
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "tags/{{ tag }}/"
eleventyComputed:
  title: Posts Tagged “{{ tag }}”
---

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Date</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    {%- for post in collections[tag] reversed -%}
      <tr>
        <td>
          <strong>
            {{ post.data.date | postDate }}
          </strong>
        </td>
        <td>
          <a href="{{ post.url }}">{{ post.data.title }}</a>
        </td>
      </tr>
    {%- endfor -%}
  </tbody>
</table>

{% include "layouts/tag-cloud.liquid" %}